body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f2e6;
  }
  header {
    background-color:#fff; 
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    border-bottom: gray;
  }
  nav {
    width: 200px;
    background: #0a4d22; 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    color: white;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    padding: 10px 20px;
  }
  nav ul li:hover {
    background-color: #0a4d22; 
    cursor: pointer;
  }
  .main {
    margin-left: 200px;
    padding: 20px;
  }
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }